.auth-wrapper {
  height: 90vh;
}

.auth-form {
  width: 40%;
  height: 50%;

  .header {
    display: flex;
    flex-direction: row;

    .tab {
      font-size: 24px;
      cursor: pointer;
      width: 100%;
      text-align: center;
      color: $primary
    }

    .login {
      @extend .tab;
      border-right: 1px solid #cccccc;
    }

    .register {
      @extend .tab;
    }

    .inactive {
      color: #cccccc;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    align-items: center;

    .input {
      padding: 15px;
      margin: 10px;
      outline: none !important;
      width: 80%;
      background-color: #f5f5f5;
      border-radius: 20px;
      font-size: 16px;
    }

    .input::placeholder {
      color: #cccccc;
    }

    .button {
      width: 140px;
      padding: 15px;
      margin-top: 50px;
      border-radius: 20px;
      background-color: $primary;
      color: #ffffff;
      cursor: pointer;
      font-size: 16px;
    }

    .disabled {
      background-color: $primary-disabled;
      cursor: not-allowed;
    }
  }
}
