.navbar {
  display: flex;
  background-color: $primary;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 10px;
  color: #ffffff;

  .item {
    padding: 10px;
    cursor: pointer;
  }
}
