.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  height: 60px;
  align-items: center;
  padding: 0 10px;

  .item {
    padding: 10px;
    cursor: pointer;
  }
}
